@define-color bg0 #292c34;
@define-color bg1 #212526;
@define-color bg2 #2c323a;
@define-color bg3 #4b5263;

@define-color red #e08c75;
@define-color orange #d19a55;
@define-color yellow #e5c07b;
@define-color green #98c379;
@define-color aqua #56b6c2;
@define-color blue #51afef;
@define-color purple #c678dd;

@define-color fg #abb2bf;

@define-color grey0 #5c6370;
@define-color grey1 #828997;
@define-color grey2 #abb2bf;
